.content-card {
  width: 960px;
  margin: 0 auto;
  > .header {
    height: 40px;
    line-height: 40px;
    background-color: #607d8b;
    text-align: left;
    padding-left: 24px;
    color: #ffffff;
  }
  > .header > .-alignmiddle {
    display: flex;
    align-items: center;
  }
  > .header > .-alignmiddle > img.icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  > .body {
    background-color: #ffffff;
    font-size: 13px;
    font-weight: bold;
  }
}
