.contact-logs-notification {
  > .navbar {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  > .navbar > .summary {
    display: flex;
  }
  > .navbar > .summary > .number {
    color: #ec407a;
  }
  > .navbar > .btn-card {
    padding: 10px 24px;
    margin-left: 10px;
    color: #42a5f5;
    font-weight: bold;
    cursor: pointer;
  }
  > .content {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
}
